.users-page-container {
  margin-top: 16px;

  .users-content-container {
    min-width: 672px;
    max-width: 1024px;

    .search-container {
      display: flex;
      flex-direction: row;
      max-width: 640px;
      margin-bottom: 16px;

      .search-input {
        margin-right: 16px;
        flex: 1;
      }
    }
  }
}