.logo {
  &.collapsed {
    .image {
      margin: 0;
    }

    .title-container {
      display: none;
    }
  }

  .image {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    color: white;
  }

  .title-container {
    .title {
      font-size: 18px;
      font-weight: bold;
    }

    .subtitle {
      font-size: 10px;
    }

    display: flex;
    flex-direction: column;
  }

  color: white;
  display: flex;
  align-items: center;
  padding: 8px 24px;
}